@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-zinc-950 text-zinc-400;
  }

  ::selection {
    @apply bg-zinc-700 text-zinc-100;
  }
}

@layer components {
  .prose pre {
    @apply border border-zinc-800 bg-zinc-900;
  }

  .prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    @apply rounded bg-zinc-800 px-1.5 py-0.5 text-xs font-medium text-zinc-300;
  }

  .prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *))::before,
  .prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *))::after {
    @apply hidden;
  }
}

@layer utilities {
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
