pre {
  tab-size: 2;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #6b7280;
}

.token.punctuation {
  color: #9ca3af;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f87171;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a3e635;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #9ca3af;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #c084fc;
}

.token.function,
.token.class-name {
  color: #60a5fa;
}

.token.regex,
.token.important,
.token.variable {
  color: #fbbf24;
}
