.prose {
  --tw-prose-body: #d4d4d8;
  --tw-prose-headings: #fafafa;
  --tw-prose-links: #a1a1aa;
  --tw-prose-bold: #fafafa;
  --tw-prose-counters: #71717a;
  --tw-prose-bullets: #52525b;
  --tw-prose-hr: #27272a;
  --tw-prose-quotes: #a1a1aa;
  --tw-prose-quote-borders: #3f3f46;
  --tw-prose-captions: #71717a;
  --tw-prose-code: #d4d4d8;
  --tw-prose-pre-code: #d4d4d8;
  --tw-prose-pre-bg: #111113;
  --tw-prose-th-borders: #27272a;
  --tw-prose-td-borders: #1e1e21;
}
